<h1>Dean Gergoric</h1>
<p>Hi, My name is Dean. I’m trying to grow my experience and learn much more, so I’m looking to find a challenging internship position in Web Development, and be effective where my skills and passion for programming can be helpful. Focus on web application architecture using Ruby on Rails. Passion for startups and new technologies.</p>
